*                                                                                
!*.*                                                                             
.*                                                                               
*.[o,a]                                                                          
NEW*/
RESLT/
*.bash
!*template*.bash
*.json
